.textForm{
    width: 100%;
 
}

.pic{
    margin-top:20%;
    width : 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

.input-image{
    .input-button{
        display: none;
        width: 100%;

    }
    
}


.WrapText{
    margin-top:7%;
}

.media{
    height: 140;
}

.bigAvatar{
    margin-top:20%;
    width : 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.addIcon{

    margin-top: 5%;

}


