.cardForm{
    min-width: 450px;
    margin-top: 10%;

}

.docentesForm{
    margin : 10% 10% 10%;

   
}

.Mybutton{
    margin-top: 10%;
    display : flex;
    margin-left: 5%;
    margin-bottom: 5%;
}
