.cardForm{
    min-width: 450px;
    margin-top: 10%;

}

.genericForm{
    margin : 10% 10% 10%;

   
}

.Mybutton{
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.right{
    float : right
}